<nav class="navbar navbar-collapse-lg navbar-dark bg-dark"> 
    <a class="navbar-brand navbar-right" href="/">Student Performance Monitoring System</a>  
    <nav class="navbar justify-content-end">
        <ul class="nav ">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="color: #FFEBCD;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #FFEBCD;">Question Bank</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #FFEBCD;">Course Outline</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/views/profile" style="color: #FFEBCD;">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login" style="color: #FFEBCD;">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register" style="color: #FFEBCD;">Register</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#" style="color: #FFEBCD;">Logout</a>
        </li>
        </ul>
    </nav>
</nav>